{% extends "base.html" %}
{% block container %}

    <h1>Projeto {{projeto_nome}}</h1>
    <hr>
    <h2>Avaliar Critérios</h2>

    <br>

    <form method="post">
        {% csrf_token %}
            {% for decisor in decisores %}
                <option name="decisor_id" value="{{decisor.id}}">{{decisor.nome}}</option>
        <br>
        <div class="decisor">
        {% for criterios in criterios_combinados %}
<div class="criterio" >
            <!-- {{criterios}} -->
            <strong>{{criterios.0.nome}} VS {{criterios.1.nome}}</strong>
            <br>
            <input style="margin-left: 1em" type="range" name="('{{criterios.0.nome}}','{{criterios.1.nome}}')" min=-3 max=3 step=1><br>
            <br>
</div>
        {% endfor %}
        </div>  
        <hr>
{% endfor %}
        <input type="submit" class="btn btn-outline-primary" value="Avaliar">
    </form>
    
{% endblock %}
