{% extends "base.html" %}
{% block container %}

<h1>Resultado | Projeto {{projeto_nome}}</h1>

<h3>Pesos</h3>
{% comment %}{% for peso_criterio in pesos_criterios %}{% endcomment %}
    {% comment %}<p>Critério - <strong>{{peso_criterio.0}}</strong> - {{peso_criterio.1 }}</p>{% endcomment %}

{% comment %}{% endfor %}{% endcomment %}

<hr>

<h3>Ordenação</br>
</h3>

{% comment %}{% for i in resultado %}{% endcomment %}

    {% comment %}{{ forloop.counter }}º -- <strong>{{i.0}}</strong> -- {{i.1}}{% endcomment %}
    {% comment %}</br></br>{% endcomment %}

{% comment %}{% endfor %}{% endcomment %}

{% for df in dataframes %}

  {{ df }}

{% endfor %}

<hr>

<a href="{% url 'deletarprojeto' projeto_id=projeto_id %}" class="btn btn-danger btn-lg btn-block">Deletar projeto</a>

{% endblock %}
